<html xmlns:th="http://www.thymeleaf.org">
<footer class="container-fluid" th:fragment="footer">
	<div class="row">
		<div class="container">
			<div class="col-xs-12 col-md-3 hidden-xs hidden-sm"
				id="redes-sociales-footer">
				<span th:utext="#{footer.social}"></span><br> <a href="#"><span
					class="fa fa-facebook-square fa-3x"></span></a> <a href="#"><span
					class="fa fa-twitter fa-3x"></span></a> <a href="#"><span
					class="fa fa-google-plus fa-3x"></span></a>
			</div>
			<div class="col-xs-12 col-md-3">
				<a href="webmap" th:utext="#{footer.sitemap}"></a><br> <a href="#"
					th:utext="#{footer.contact}"></a>
			</div>
			<div class="col-xs-12 col-md-3">
				<a href="/cookies" th:utext="#{footer.cookies}"></a><br> <a href="/p_privacidad"
					th:utext="#{footer.privacy}"></a>
			</div>
			<div class="col-xs-12 col-md-2">
				<a href="" th:utext="#{footer.help}"></a><br> <a href="/licencia"
					th:utext="#{footer.license}" onclick="window.open(this.href, this, 'width=600,height=600');return false;"></a>
			</div>
			<div class="col-xs-12 col-md-3 visible-xs visible-sm">
				<span th:utext="#{footer.social}"></span><br> <a href="#"><span
					class="fa fa-facebook-square fa-3x"></span></a> <a href="#"><span
					class="fa fa-twitter fa-3x"></span></a> <a href="#"><span
					class="fa fa-google-plus fa-3x"></span></a>
			</div>
			<hr class="col-xs-12" style="border-color:white;margin:10px;"></hr>
			<div class="col-xs-12" style="font-size:14px;">
				<p>League Of summoners isn't endorsed by Riot Games and doesn't
					reflect the views or opinions of Riot Games or anyone officially
					involved in producing or managing League of Legends. League of
					Legends and Riot Games are trademarks or registered trademarks of
					Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
			</div>
		</div>
	</div>
</footer>
</html>