<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="scripts" th:remove="tag">
    <script type="text/javascript" src="libraries/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="libraries/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="libraries/bootstrap/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="libraries/jquery.cookie.js"></script>
    <script type="text/javascript" src="libraries/bootstrap/js/bootstrapValidator.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/form-validator.js"></script>
</div>
</html>