main.champions-body {
	min-height: 802px;
}

div.img-separation {
	margin-top: 1%;
	cursor: pointer;
}

div.img-separation img:hover {
	transform: scale(1.1);
}

#buscador-campeones {
	min-height: 160px;
	margin-top: 30px;
}

#buscador-campeones input[type="text"] {
	width: 99%;
	height: 50px;
	margin-left: 10px;
}

#buscador-campeones label {
	padding-left: 15px;
	text-indent: -10px;
	float: left;
}

#buscador-campeones input[type="radio"] {
	margin-top: 10px;
	height: 20px;
	width: 20px;
	padding: 0;
	margin: 0;
	margin-left: 15px;
	float: left;
	height: 20px;
}

#buscador-campeones input[type="radio"]:first-child {
	/* 	margin-left: 0px; */
	
}

#filtros {
	margin-top: 1%;
}

#filtros-mobile {
	visibility: hidden;
}

#buscador-campeones h2 {
	padding: 15px;
}

#modals {
	z-index: 1;
	font-size: 4rem;
	background-repeat: no-repeat;
	min-height: 1000px;
	background-size: 100% 100%;
	margin: 0px;
	color: white;
}

#modals h1 {
	font-size: 4rem;
	width: 0px;
	margin-bottom: 0px;
}

#modals h2 {
	font-size: 3rem
}

.btn-close-modal {
	text-align: center;
	position: fixed;
	cursor: pointer;
	color: #fff;
	padding: 15px 25px;
	font-size: 40px;
	font-weight: 300;
	border: 2px solid #fff;
	margin: 20px;
	right: 0px;
	z-index: 3;
}


.tooltip-inner {
	max-width: 350px;
	width: 350px;
}

.spells {
	position: absolute;

	right:10px;
	width:400px;
}

.spells img {
	border: 4px solid black;
	margin: 10px;
	float: left;
}

.spells img:hover {
	border: 4px solid black;
	margin: 10px;
	float: left;
	transform: scale(1.2);
}

.champion-lore {
	margin-top:40px;
	width: 850px;
	margin-left: 60px;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	margin-bottom:130px;
}

.champion-lore h2 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.champion-lore p {
	font-size: 1.4rem;
}

.btn-close-modal:hover {
	transform: scale(0.9);
}

.rotation-champ {
	cursor: pointer;
}

.rotation-champ:hover {
	transform: scale(1.1);
}

.modal-contenido {
	margin-left: 3%;
	width: 300px;
	height: 0px;
}

.close-modals {
	width: 50px;
}

.spells h2 {
	margin-left: 15px;
}

h3.champion-title {
	margin-left: 8px;
	margin-top: 0px;
}

.nombre-campeones {
	margin-left: 60px;
	margin-top: 50px;
}

@media only screen and (max-width: 768px) {
	#buscador-campeones {
		min-height: 180px;
	}
	#filtros-mobile {
		width: 90%;
		margin-left: 15px;
		visibility: visible;
	}
	#filtros-mobile select {
		width: 100%;
		height: 40px;
	}
	div.img-separation {
		margin-top: 3%;
		margin-left: 0px;
		margin-right: 0px;
	}
}