.champions-lol-48.aatrox { background-position:-0px -0px; }
.champions-lol-48.ahri { background-position:-48px -0px; }
.champions-lol-48.akali { background-position:-96px -0px; }
.champions-lol-48.alistar { background-position:-144px -0px; }
.champions-lol-48.amumu { background-position:-192px -0px; }
.champions-lol-48.anivia { background-position:-240px -0px; }
.champions-lol-48.annie { background-position:-288px -0px; }
.champions-lol-48.ashe { background-position:-336px -0px; }
.champions-lol-48.blitzcrank { background-position:-384px -0px; }
.champions-lol-48.brand { background-position:-432px -0px; }
.champions-lol-48.caitlyn { background-position:-0px -48px; }
.champions-lol-48.cassiopeia { background-position:-48px -48px; }
.champions-lol-48.chogath { background-position:-96px -48px; }
.champions-lol-48.corki { background-position:-144px -48px; }
.champions-lol-48.darius { background-position:-192px -48px; }
.champions-lol-48.diana { background-position:-240px -48px; }
.champions-lol-48.draven { background-position:-288px -48px; }
.champions-lol-48.dr-mundo { background-position:-336px -48px; }
.champions-lol-48.elise { background-position:-384px -48px; }
.champions-lol-48.evelynn { background-position:-432px -48px; }
.champions-lol-48.ezreal { background-position:-0px -96px; }
.champions-lol-48.fiddlesticks { background-position:-48px -96px; }
.champions-lol-48.fiora { background-position:-96px -96px; }
.champions-lol-48.fizz { background-position:-144px -96px; }
.champions-lol-48.galio { background-position:-192px -96px; }
.champions-lol-48.gangplank { background-position:-240px -96px; }
.champions-lol-48.garen { background-position:-288px -96px; }
.champions-lol-48.gragas { background-position:-336px -96px; }
.champions-lol-48.graves { background-position:-384px -96px; }
.champions-lol-48.hecarim { background-position:-432px -96px; }
.champions-lol-48.heimerdinger { background-position:-0px -144px; }
.champions-lol-48.irelia { background-position:-48px -144px; }
.champions-lol-48.janna { background-position:-96px -144px; }
.champions-lol-48.jarvan-iv { background-position:-144px -144px; }
.champions-lol-48.jax { background-position:-192px -144px; }
.champions-lol-48.jayce { background-position:-240px -144px; }
.champions-lol-48.karma { background-position:-288px -144px; }
.champions-lol-48.karthus { background-position:-336px -144px; }
.champions-lol-48.kassadin { background-position:-384px -144px; }
.champions-lol-48.katarina { background-position:-432px -144px; }
.champions-lol-48.kayle { background-position:-0px -192px; }
.champions-lol-48.kennen { background-position:-48px -192px; }
.champions-lol-48.kogmaw { background-position:-96px -192px; }
.champions-lol-48.leblanc { background-position:-144px -192px; }
.champions-lol-48.lee-sin { background-position:-192px -192px; }
.champions-lol-48.leona { background-position:-240px -192px; }
.champions-lol-48.lissandra { background-position:-288px -192px; }
.champions-lol-48.lucian { background-position:-336px -192px; }
.champions-lol-48.lulu { background-position:-384px -192px; }
.champions-lol-48.lux { background-position:-432px -192px; }
.champions-lol-48.malphite { background-position:-0px -240px; }
.champions-lol-48.malzahar { background-position:-48px -240px; }
.champions-lol-48.maokai { background-position:-96px -240px; }
.champions-lol-48.master-yi { background-position:-144px -240px; }
.champions-lol-48.miss-fortune { background-position:-192px -240px; }
.champions-lol-48.wukong { background-position:-240px -240px; }
.champions-lol-48.mordekaiser { background-position:-288px -240px; }
.champions-lol-48.morgana { background-position:-336px -240px; }
.champions-lol-48.nami { background-position:-384px -240px; }
.champions-lol-48.nasus { background-position:-432px -240px; }
.champions-lol-48.nautilus { background-position:-0px -288px; }
.champions-lol-48.nidalee { background-position:-48px -288px; }
.champions-lol-48.nocturne { background-position:-96px -288px; }
.champions-lol-48.nunu { background-position:-144px -288px; }
.champions-lol-48.olaf { background-position:-192px -288px; }
.champions-lol-48.orianna { background-position:-240px -288px; }
.champions-lol-48.pantheon { background-position:-288px -288px; }
.champions-lol-48.poppy { background-position:-336px -288px; }
.champions-lol-48.quinn { background-position:-384px -288px; }
.champions-lol-48.rammus { background-position:-432px -288px; }
.champions-lol-48.renekton { background-position:-0px -336px; }
.champions-lol-48.rengar { background-position:-48px -336px; }
.champions-lol-48.riven { background-position:-96px -336px; }
.champions-lol-48.rumble { background-position:-144px -336px; }
.champions-lol-48.ryze { background-position:-192px -336px; }
.champions-lol-48.sejuani { background-position:-240px -336px; }
.champions-lol-48.shaco { background-position:-288px -336px; }
.champions-lol-48.shen { background-position:-336px -336px; }
.champions-lol-48.shyvana { background-position:-384px -336px; }
.champions-lol-48.singed { background-position:-432px -336px; }
.champions-lol-48.sion { background-position:-0px -384px; }
.champions-lol-48.sivir { background-position:-48px -384px; }
.champions-lol-48.skarner { background-position:-96px -384px; }
.champions-lol-48.sona { background-position:-144px -384px; }
.champions-lol-48.soraka { background-position:-192px -384px; }
.champions-lol-48.swain { background-position:-240px -384px; }
.champions-lol-48.syndra { background-position:-288px -384px; }
.champions-lol-48.talon { background-position:-336px -384px; }
.champions-lol-48.taric { background-position:-384px -384px; }
.champions-lol-48.teemo { background-position:-432px -384px; }
.champions-lol-48.thresh { background-position:-0px -432px; }
.champions-lol-48.tristana { background-position:-48px -432px; }
.champions-lol-48.trundle { background-position:-96px -432px; }
.champions-lol-48.tryndamere { background-position:-144px -432px; }
.champions-lol-48.twisted-fate { background-position:-192px -432px; }
.champions-lol-48.twitch { background-position:-240px -432px; }
.champions-lol-48.udyr { background-position:-288px -432px; }
.champions-lol-48.urgot { background-position:-336px -432px; }
.champions-lol-48.varus { background-position:-384px -432px; }
.champions-lol-48.vayne { background-position:-432px -432px; }
.champions-lol-48.veigar { background-position:-0px -480px; }
.champions-lol-48.vi { background-position:-48px -480px; }
.champions-lol-48.viktor { background-position:-96px -480px; }
.champions-lol-48.vladimir { background-position:-144px -480px; }
.champions-lol-48.volibear { background-position:-192px -480px; }
.champions-lol-48.warwick { background-position:-240px -480px; }
.champions-lol-48.xerath { background-position:-288px -480px; }
.champions-lol-48.xin-zhao { background-position:-336px -480px; }
.champions-lol-48.yorick { background-position:-384px -480px; }
.champions-lol-48.zac { background-position:-432px -480px; }
.champions-lol-48.zed { background-position:-0px -528px; }
.champions-lol-48.ziggs { background-position:-48px -528px; }
.champions-lol-48.zilean { background-position:-96px -528px; }
.champions-lol-48.zyra { background-position:-144px -528px; }
.champions-lol-48.jinx { background-position:-192px -528px; }
.champions-lol-48.khazix { background-position:-240px -528px; }
.champions-lol-48.yasuo { background-position:-288px -528px; }
.champions-lol-48.velkoz { background-position:-336px -528px; }
.champions-lol-48.braum { background-position:-384px -528px; }
.champions-lol-48.gnar { background-position:-432px -528px; }
.champions-lol-48.azir { background-position:-0px -576px; }
.champions-lol-48.kalista { background-position:-48px -576px; }
.champions-lol-48.reksai { background-position:-96px -576px; }
.champions-lol-48.bard { background-position:-144px -576px; }
.champions-lol-48.ekko { background-position:-192px -576px; }
.champions-lol-48.tahm-kench { background-position:-240px -576px; }
.champions-lol-48.kindred { background-position:-288px -576px; }
.champions-lol-48.illaoi { background-position:-336px -576px; }
.champions-lol-48.jhin { background-position:-384px -576px; }
.champions-lol-48.aurelion-sol { background-position:-432px -576px; }
.champions-lol-48 { width:48px; height:48px; background-image:url(../img/champions-lol-48.jpg?635981509340618677) }

