#campo-busqueda{
	width:100%;	
}

.guide {
	border-bottom:1px solid #302b59;
	margin-top:10px;
	cursor:pointer;
	padding-bottom:10px;
	margin-bottom:10px;
}

.guide:hover{
	opacity:0.8;
}

.guide:last-child{
	margin-bottom:20px;
}

div.guide-champ-name h2 {
	margin-top: 1%;
}

div.guide-champ-name h3 {
	margin-top: 0px;
}

.guide-info p {
	margin: 0px;
}

.guide-info {
	margin-top: 0px;
	padding: 0px;
}

.visitas {
	width:120px;
}


@media only screen and (max-width: 768px) {
	input#campo-busqueda.input_champions.col-xs-12.tt-input{
		margin:0px;
		width:104%;
	}	
	
	div.visitas{
		padding-left:0px;
	}
	
}
