
form {
    margin-top: 2%;
    margin-bottom: 9.1%;
}

#page-name-banner {
    background-image: url("/img/banners/game_bg_banner.png");
    height: 100px;
}

/* Cambiamos el cursor en el botón de subir imagen*/
#fileInput {
    cursor: pointer;
}

#registrarse-btn {
    background-color: #BF6904;
    background: linear-gradient(#db8e01, #871e0a);
    box-shadow: inset 1px 1px 9px rgba(135, 30, 10, .8), inset -1px -1px 5px rgba(181, 60, 2, .8);
    color: #FFF;
    border-color: #a29361 #928456 #5f5940 #928456;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    height: 40px;
    width: 90%;
    margin-top: 3%;
}

#banner {
    height: 100px;
    margin-top: 30px;
    border-top: 1px solid #f2f3f3;
    font-family: "Open Sans", arial, sans-serif;
    border-bottom: 1px solid #f2f3f3;
}

.champion-gallery {
    border: 1px solid black;
    width: 50px;
    margin-left:4px;
    margin-top:4px;
    cursor: pointer;
}

.champion-gallery:hover{
    opacity:0.9;
}

#modal-window-button {
    margin-top:10px;
    margin-bottom:0px;
    width: 100%
}

#registrarse-btn:hover {
    opacity: 0.9;
}

.banner-msg {
    margin-top: 3%;
    margin-left: 6%;
}