<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<!--<div th:replace="fragments/prueba :: div"></div>-->
<head th:replace="fragments/head :: head(title='Campeones ~ LOS')">
</head>
<body id="bootstrap-overrides">
<!--<header th:replace="fragments/header :: header"></header>-->
<div th:replace="fragments/menu :: menu"></div>
<main class="container content champions-body">
    <div class="row" id="banner">
        <div id="page-name-banner" class="col-xs-12">
            <h1 class="banner-msg" th:utext="#{champions.banner}"></h1>
        </div>
    </div>
    <div class="row">
        <ol class="breadcrumb col-xs-12">
            <li><a href="/index">Home</a></li>
            <li class="active" th:utext="${pageName}"></li>
        </ol>
    </div>
    <div id="buscador-generico">
        <h2>Buscador de campeones</h2>
        <input id="campo-busqueda" type="text"
               placeholder="Introduzca el nombre del campeón que busca"
               oninput="filterChampions(this.value)" class="search-field form-control">

        <div id="filtros" class="hidden-xs btn-group" data-toggle="buttons">
            <label for="Todos" class="btn btn-primary unique">
                <input type="radio" name="type" class="unique col-xs-4" id="Todos"
                       value="Todos" checked > Todos</label>
            <label for="Mago" class="btn btn-primary unique">
                <input type="radio" id="Mago" name="type" class="unique col-xs-4" value="Mago"> Mago</label>
            <label for="Tanque" class="btn btn-primary unique">
                <input type="radio" id="Tanque" name="type" class="col-xs-4" value="Tanque">
                Tanque</label>
            <label for="Jungla" class="btn btn-primary unique">
                <input type="radio" id="Jungla" name="type" class="unique col-xs-4" value="Jungla">
                Jungla</label>
            <label for="Marksman" class="btn btn-primary unique">
                <input type="radio" id="Marksman" name="type" class="unique col-xs-4" value="Marksman">
                Marksman</label>
            <label for="Asesino" class="btn btn-primary unique">
                <input type="radio" id="Asesino" name="type" class="unique col-xs-4" value="Asesino">
                Asesino</label>
            <label for="Support" class="btn btn-primary unique">
                <input type="radio" id="Support" name="type" class="unique col-xs-4" value="Support">
                Support
            </label>
        </div>

        <div id="filtros-mobile" class="row">
            <select class="col-xs-10">
                <option>Filtrar por tipo campeón</option>
                <option>Mago</option>
                <option>Tanque</option>
                <option>Jungla</option>
                <option>Marksman</option>
                <option>Support</option>
            </select>
        </div>
    </div>
    <div class="row" id="champions">
        <div th:each="champion,iterStat : ${champions}" class="champion">
            <!--  Champion clase para obtenertodos los champions -->
            <div class="col-xs-6 col-md-2 img-separation">
                <div class="panel panel-default"
                     th:attr="data-index=${iterStat.index}"
                     onclick="prepareModalWindow(this.getAttribute('data-index'));">
                    <div class="panel-heading">
                        <span th:utext="${champion.championName}"></span>
                    </div>
                    <div class="panel-body">
                        <img th:src="${champion.championIconName}"
                             th:attr="data-original=${champion.championIconName}, data-type=${champion.championType}"
                             th:title="${champion.championName}" name="champion"
                             class="img-responsive lazy"></img>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="holder text-center"></div>


    <a id="modal-link" href="#champion" hidden=""></a>
    <div id="modals" class="container-fluid" style="display: none"></div>
</main>


<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>
<script th:inline="javascript">
    //${champions_json} == La lista de campeones en JSON.
    var jsonChampions = JSON
            .parse(/*[[${champions_json}]]*/"champions_json");
    defaults.perPage = 18;
    $(function () { //INICIA LA PAGINACIÓN
        $("div.holder").jPages({
            containerID: "champions"
        });
    });
</script>
<script type="text/javascript" src="libraries/animatedModal.js"></script>
<script type="text/javascript" src="/js/champions.js"></script>
</body>
</html>