<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragments/head :: head(title='Login ~ Contacto')">
</head>
<body id="bootstrap-overrides">
	<div th:replace="fragments/menu :: menu"></div>
	<main class="container">

	<section class="container fill-main" id="login-container">
		<header class="row">
			<div class="col-md-4 col-xs-10 col-centered">
				<img src="img/logo-lg.png" class="img-responsive"
					alt="Logo league of summoners">
			</div>
		</header>
		<div class="row">
			<main class="col-xs-12 col-md-4 col-md-offset-4 content">
			<div class="col-xs-12 padding0 text-center">
				<h2>Contacta con nosotros!</h2>
			</div>
			<div id="success-message" hidden="" class="col-xs-12 alert alert-success"></div>
			<form role="form" method="post" id="contact-form" action="./contact">
				<div class="form-group" id="nombre">
					<label for="nombre">Nombre</label> <input type="text"
						class="form-control" placeholder="Nombre" name="nombre" id="nombre" />
				</div>
				<div class="form-group" id="email">
					<label for="email">E-mail</label> 
					<input type="email" class="form-control" placeholder="Correo electrónico" name="email" id="email" />
				</div>
				<div class="form-group">
					<label for="content">Contacta con nosotros</label>
					<textarea class="col-xs-12 form-control contact" placeholder="Escribe tu mensaje" name="content" style="height:90px" id="content"></textarea>
				</div>
				<button type="submit" id="submit-contacto" disabled
					class="btn form-control iniciar-sesion-btn" value="contact">
					<span>Contactar</span>
				</button>
			</form>
			</main>
		</div>
	</section>
	</main>
	<div th:replace="fragments/footer :: footer"></div>
	<div th:replace="fragments/scripts :: scripts"></div>
	<script type="text/javascript" src="js/contactar.js"></script>
</body>
</html>
