<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<!-- Incluimos la etiqueta HEAD del documento con todos lo recursos incluidos comunes a todas las páginas-->
<head th:replace="fragments/head :: head(title='Error404 ~ LOS')">
</head>
<body id="bootstrap-overrides">
<!-- Incluimos menu en todas las páginas-->
<div th:replace="fragments/menu :: menu"></div>
<main class="container" id="error404-main">
    <div class="row">
        <div class="col-md-5 pull-right">
            <h1>Error: 404</h1>
            <h2>La página no existe o ha sido movida.</h2>
            <h3 style="font-style: italic">"Parece que te has perdido,<br> <a href="/webmap">¿Necesitas un mapa?</a>" -
                Ezreal</h3>
        </div>
    </div>
</main>
<!-- Incluimos footer en todas las páginas-->
<div th:replace="fragments/footer :: footer"></div>
<!-- Incluimos los scripts comunes a todas las páginas-->
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>