<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<!-- Incluimos la etiqueta HEAD del documento con todos lo recursos incluidos comunes a todas las páginas-->
<head th:replace="fragments/head :: head(title='Error500 ~ LOS')">
</head>
<body id="bootstrap-overrides">
<!-- Incluimos menu en todas las páginas-->
<div th:replace="fragments/menu :: menu"></div>
<main class="container" id="error500-main">
    <div class="row">
        <div class="col-md-5">
            <h1>Error: 500</h1>
            <h2>Oops! Algo salió mal...</h2>
        </div>
    </div>
</main>
<!-- Incluimos footer en todas las páginas-->
<div th:replace="fragments/footer :: footer"></div>
<!-- Incluimos los scripts comunes a todas las páginas-->
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>