<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<!--<div th:replace="fragments/prueba :: div"></div>-->
<head th:replace="fragments/head :: head(title='Home ~ League of summoners')">
</head>
<body id="bootstrap-overrides">
<!--<header th:replace="fragments/header :: header"></header>-->

<div th:replace="fragments/menu :: menu"></div>

<main>
    <div class="container content banner">
        <div class="row">
            <div class="col-xs-12">
                <h1>Guides</h1>
            </div>
            <div class="col-sm-10 col-sm-offset-1">
                <form>
                    <fieldset>
                        <div class="form-group">
                            <label for="query">Search:</label>
                            <input type="text" class="form-control input_champions"  placeholder="Start typing something to search...">
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>
<script th:inline="javascript">
    var champion_list = JSON.parse(/*[[${champion_list}]]*/"champion_list");
</script>
<script type="text/javascript" src="js/typehead_script.js"></script>

</body>
</html>