<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">

<head th:replace="fragments/header :: header"></head>
<body>
	<a style="float:right;" href="./?champName=Leblanc&amp;locale=en">English</a><br></br>
	<a style="float:right;" href="./?champName=Leblanc&amp;locale=es">Spanish</a>

	<div style="clear:left;margin-top:70px;" th:include="fragments/menu :: menu"></div>
	
	<div class="container col-md-offset-3 col-md-6 centred">
		<h1 th:utext="#{champion.lore(${championName})}"></h1>
		<h3 th:utext="${title}"></h3>
		<p th:utext="${lore}"></p>
	</div>


	<div style="clear:both;float:right;" th:include="fragments/footer :: footer"></div>
</body>
</html>