<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<!-- Incluimos la etiqueta HEAD del documento con todos lo recursos incluidos comunes a todas las páginas-->
<head th:replace="fragments/head :: head(title='Home ~ LOS')"></head>
<body id="bootstrap-overrides">
<!-- Incluimos menu en todas las páginas-->
<div th:replace="fragments/menu :: menu"></div>
<main>
    <section id="buscador-home" class="container fill-main">
        <header class="row">
            <div class="col-md-5 col-xs-10 col-centered">
                <img src="img/logo-lg.png" class="img-responsive" alt="Logo league of summoners">
            </div>
        </header>
        <div class="row">
            <main class="col-xs-12 col-md-6 col-md-offset-3 content">
                <form action="./search" method="get" class="form-horizontal col-xs-12" role="form">
                    <div class="form-group">
                        <label for="summoner-name"><h2 th:utext="#{home.body.search}"></h2></label>
                        <input class="form-control input_champions" type="text" name="search_input" id="summoner-name"
                               th:placeholder="#{home.body.search.placeholder}">
                        <button type="submit" id="buscar-btn" class=" btn form-control">
                            <span class="glyphicon glyphicon-search"></span> <span
                                th:utext="#{home.body.search.button}"></span>
                        </button>
                    </div>
                </form>
            </main>
        </div>
        <div class="row">
            <h3 class="col-centered"><a href="#rotacion" th:utext="#{home.body.rotacion.link}"></a></h3>
        </div>
    </section>
    <aside id="rotacion" class="container">
        <div class="row panel panel-default">
            <div class="panel-heading">
                <h1 th:utext="#{home.body.rotacion.title}"></h1>
            </div>
            <div class="panel-body">
                <th:block th:each="champion : ${championRotation}">
                    <div class="col-md-15 col-xs-6 col-sm-3"
                         th:onclick="'javascript:showChampionDetails(\'' + ${champion.championNormalized} + '\');'">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span th:utext="${champion.championName}"></span>
                            </div>
                            <div class="panel-body">
                                <img th:src="${champion.championIconName}"
                                     th:alt="${champion.championName}" th:title="${champion.championName}"
                                     class="img-responsive rotation-champ"></img>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </aside>
</main>
<!-- Incluimos footer en todas las páginas-->
<div th:replace="fragments/footer :: footer"></div>
<!-- Incluimos los scripts comunes a todas las páginas-->
<div th:replace="fragments/scripts :: scripts"></div>
<script type="text/javascript" src="http:/js/scroll.js"></script>
	<script th:inline="javascript">
		var champion_list = JSON
				.parse(/*[[${champion_list}]]*/"champion_list");
	</script>
	<script type="text/javascript" src="js/typehead_script.js"></script>
</body>
</html>