<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head
	th:replace="fragments/head :: head(title='Mapa Web ~ League of summoners')">
</head>
<body id="bootstrap-overrides">
	<div th:replace="fragments/menu :: menu"></div>
	<main class="container content " id="mapa-sitio">
	<div class="row" id="banner">
		<div id="page-name-banner" class="col-xs-12">
			<h1 class="banner-msg" style="font-size: 2.9rem;"
				th:utext="${pageName}"></h1>
		</div>
	</div>
	<div class="row">
		<ol class="breadcrumb col-xs-12">
			<li><a href="/index">Home</a></li>
			<li class="active" th:utext="${pageName}"></li>
		</ol>
	</div>
	<div id="mapa-web-container">
		<ul>
			<li><a href="/home">Home</a></li>

			<li><a href="/guides">Guías</a></li>


			<li><a href="/champions">Campeones</a></li>
			<li><a href="/profile">Perfil</a></li>
			<li><a href="/register">Registro</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/webmap">Mapa del sitio </a></li>
			<li><a href="/contacto">Contacta con nosotros</a></li>
			<li><a href="/cookies">Política de cookies</a></li>
			<li><a href="/p_privacidad">Política de privacidad</a></li>
			<li><a href="/help">Ayuda</a></li>
			<li><a href="/licencia" onclick="window.open(this.href, this, 'width=600,height=600');return false;">Licencia</a></li>
			<li><a href="/contact">Contacta con nosotros</a></li>
		</ul>
	</div>
	</main>


	<div th:replace="fragments/footer :: footer"></div>
	<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>