<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<!--<div th:replace="fragments/prueba :: div"></div>-->
<head
        th:replace="fragments/head :: head(title='Home ~ League of summoners')">
</head>
<body id="bootstrap-overrides">
<!--<header th:replace="fragments/header :: header"></header>-->
<div th:replace="fragments/menu :: menu"></div>
<main class="content" id="cookies">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row" id="banner">
                    <div id="page-name-banner" class="col-xs-12">
                        <h1 class="banner-msg">Mapa web</h1>
                    </div>
                </div>
                <ul>
                    <a href="">
                        <li>Home</li>
                    </a>
                    <a href="">
                        <li>Guías</li>
                    </a>
                    <a href="">
                        <li>Campeones</li>
                    </a>
                    <ul>
                        <a href="">
                            <li>Lista de campeones</li>
                        </a>
                        <a href="">
                            <li>Página de detalle de un campeón</li>
                        </a>
                    </ul>
                    <a href="">
                        <li>Perfil</li>
                    </a>
                    <ul>
                        <a href="">
                            <li>Creación de guías</li>
                        </a>
                    </ul>
                    <a href="">
                        <li>Registro</li>
                    </a>
                    <a href="">
                        <li>Login</li>
                    </a>
                    <a href="">
                        <li>Mapa del sitio</li>
                    </a>
                    <a href="">
                        <li>Contacta con nosotros</li>
                    </a>
                    <a href="">
                        <li>Política de cookies</li>
                    </a>
                    <a href="">
                        <li>Política de privacidad</li>
                    </a>
                    <a href="">
                        <li>Ayuda</li>
                    </a>
                    <a href="">
                        <li>Licencia</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>