<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head
        th:replace="fragments/head :: head(title='Política de privacidad ~ League of summoners')">
</head>
<body id="bootstrap-overrides">
<div th:replace="fragments/menu :: menu"></div>
<main class="container content " id="p_privacidad">
 <div class="row" id="banner">
                <div id="page-name-banner" class="col-xs-12">
                    <h1 class="banner-msg" style="font-size:2.9rem;" th:utext="${pageName}"></h1>
                </div>
            </div>
            <div class="row">
                <ol class="breadcrumb col-xs-12">
                    <li><a href="/index">Home</a></li>
                    <li class="active" th:utext="${pageName}"></li>
                </ol>
            </div>
    <h3>1. Navegación anónima a través de la web</h3>
    <p>League of summoners sólo obtiene y conserva la siguiente información acerca de los visitantes de nuestra web:</p>
    <p> a. El nombre de dominio del proveedor (PSI) y/o dirección IP que les da acceso a la red. <br>b. La fecha y hora
        de acceso a nuestra web. <br>c. La dirección de Internet desde la que partió el link que dirige a nuestra web.
        <br> d. El número de visitantes diarios de cada sección.</p>
    <p>La información obtenida es totalmente anónima, y en ningún caso puede ser asociada a un usuario concreto e
        identificado.</p>
    <h3>2. Navegación con Javascript, CSS y Cookies</h3>
    <p>Para navegar por este sitio web es necesario tener activadas las opciones de Javascript, CSS y Cookies, pequeños
        ficheros de datos que se generan en el ordenador del usuario y que nos permiten guardar elementos de
        personalización de los contenidos que el usuario escogió en su primera visita al sitio web de League of
        summoners. Todas nuestras cookies guardan la información de forma encriptada y se destruyen de forma automática
        pasado cierto tiempo. El usuario, por su parte, podrá eliminar las cookies que le sean remitidas mediante la
        configurador del navegador utilizado para acceder al sitio web de League of summoners. Para más información,
        consulta nuestra <a href="/cookies">política de cookies</a>.</p>
    <h3>3. Registro e identificación web</h3>
    <p>Al participar en las acciones de la web League of summoners se creará a través del registro una cuenta de usuario. Esta
        cuenta permite al usuario acceder a una zona privada (<a href="/profile" title="Perfil del usuario">Mi perfil</a>)
        donde gestionar los datos personales, colaboraciones y suscripciones a boletines informativos. En esta zona
        privada también se encontrará la vía para poder rectificar y/o cancelar esta cuenta de usuario.</p>
    <h3>4. Tratamiento de los datos obtenidos a través de la web</h3>
    <p>De acuerdo con la normativa vigente en materia de protección de datos así como en materia de servicios de
        sociedad de la información y comercio electrónico, el usuario acepta que los datos personales que el usuario
        facilite a través de la web <a href="/index.html" title="www.leagueofsummoners.com">www.leagueofsummoners.com</a>
        serán objeto de tratamiento e incorporados en un fichero titularidad de League of summoners del que es
        responsable League of summoners, con domicilio social Manzanares El Real (Madrid  Spain).
    </p>
    <p>La recogida y tratamiento de los datos personales tiene como finalidad gestionar las solicitudes que el usuario
        realice a League of summoners a través del sitio web y cumplir las obligaciones legales de League of summoners
        en materia de protección de datos personales, así como facilitar información sobre las campañas y actividades
        que llevamos a cabo, recabar fondos para nuestros fines fundacionales y -en su caso- otras finalidades que se
        indiquen en los formularios del sitio web donde se recaben los datos del usuario.</p>
    <p>Los datos que se soliciten al usuario en los formularios de recogida tendrán carácter obligatorio salvo que se
        indique lo contrario en el formulario correspondiente. En el caso de que el usuario no facilite los datos
        solicitados con carácter obligatorio, League of summoners no podrá tramitar la solicitud realizada el servicio
        solicitado mediante el formulario de que se trate.</p>
    <p>League of summoners se compromete al cumplimiento de su obligación de secreto de los datos de carácter personal y
        de su deber de tratarlos con confidencialidad, y asume, a estos efectos, las medidas de índole técnica,
        organizativa y de seguridad necesarias para evitar su alteración, pérdida, tratamiento o acceso no autorizado,
        de acuerdo con lo establecido en la Ley Orgánica 15/1999 sobre Protección de Datos de Carácter Personal, y demás
        legislación aplicable.</p>

    <p>Asimismo, los datos podrán ser transferidos bajo las mismas finalidades a Amazon Web Services, Inc., Google,
        Inc., Twilio, Inc., Rackspace, HubSpot Australia Pty. Ltd, HubsPot Asia Pte. Ltd, todas ellas terceros
        subcontratados por HubSpot Inc. para la prestación del servicio de almacenamientos antes citado. Las primeras
        tres sociedades indicadas se encuentran en Estados Unidos, mientras que HubSpot Australia Pty. Se encuentra en
        Australia y HubsPot Asia Pte. Ltd en Singapur, países todos ellos que no ofrecen un nivel adecuado de protección
        equiparable al establecido en la normativa española.</p>
    <p>Los formularios a través de los cuales se obtengan los datos personales de los usuarios de la página Web,
        incluirán las correspondientes casillas mediante la marcación de las cuáles éstos deberán manifestar la
        aceptación de la correspondiente política de privacidad.</p>
    <p>El titular de los datos personales deberá dirigirse por escrito a <a href="#">administrator@leagueofsummoners.com</a>
        o al domicilio social de League of summoners anteriormente indicado, para el ejercicio de los derechos de
        acceso, rectificación, cancelación y oposición relativo al tratamiento responsabilidad de League of summoners,
        indicando en el asunto "LOPD" y acreditando su identidad.</p>
    <p>De acuerdo con la normativa vigente en materia de protección de datos así como en materia de servicios
    de sociedad de la información y comercio electrónico, el usuario acepta que los datos personales que el usuario
    facilite a través de la web <a href="/index.html" title="www.leagueofsummoners.com">www.leagueofsummoners.com</a>
    serán objeto de tratamiento e incorporados en un fichero titularidad de League of summoners del que es responsable
    League of summoners, con domicilio social en Gran Via de les Corts Catalanes, 641, 08010 Barcelona. La recogida y
    tratamiento de los datos personales tiene como finalidad gestionar las solicitudes que el usuario realice a League
    of summoners a través del sitio web y cumplir las obligaciones legales de League of summoners en materia de
    protección de datos personales, así como -en su caso- otras finalidades que se indiquen en los formularios del sitio
    web donde se recaben los datos del usuario. Los datos que se soliciten al usuario en los formularios de recogida
    tendrán carácter obligatorio salvo que se indique lo contrario en el formulario correspondiente. En el caso de que
    el usuario no facilite los datos solicitados con carácter obligatorio, League of summoners no podrá tramitar el
    servicio solicitado mediante el formulario de que se trate. League of summoners se compromete al cumplimiento de su
    obligación de secreto de los datos de carácter personal y de su deber de tratarlos con confidencialidad, y asume, a
    estos efectos, las medidas de índole técnica, organizativa y de seguridad necesarias para evitar su alteración,
    pérdida, tratamiento o acceso no autorizado, de acuerdo con lo establecido en la Ley Orgánica 15/1999 sobre
    Protección de Datos de Carácter Personal, y demás legislación aplicable. El titular de los datos personales deberá
    dirigirse por escrito a <a href="#">administrator@leagueofsummoners.com</a> o al domicilio social de
    League of summoners anteriormente indicado, para el ejercicio de los derechos de acceso, rectificación, cancelación
    y oposición relativo al tratamiento responsabilidad de League of summoners, indicando en el asunto ‘LOPD’ y
    acreditando su identidad.</p>De acuerdo con la normativa vigente en materia de protección de
    datos así como en materia de servicios de sociedad de la información y comercio electrónico, el usuario acepta que
    los datos personales que el usuario facilite a través de la web <a href="/index.html" title="www.leagueofsummoners.com">www.leagueofsummoners.com</a>
    serán objeto de tratamiento e incorporados en un fichero titularidad de League of summoners del que es responsable
    League of summoners, con domicilio social en Gran Via de les Corts Catalanes, 641, 08010 Barcelona. La recogida y
    tratamiento de los datos personales tiene como finalidad gestionar las solicitudes que el usuario realice a League
    of summoners a través del sitio web y cumplir las obligaciones legales de League of summoners en materia de
    protección de datos personales, así como -en su caso- otras finalidades que se indiquen en los formularios del sitio
    web donde se recaben los datos del usuario. Los datos que se soliciten al usuario en los formularios de recogida
    tendrán carácter obligatorio salvo que se indique lo contrario en el formulario correspondiente. En el caso de que
    el usuario no facilite los datos solicitados con carácter obligatorio, League of summoners no podrá tramitar el
    servicio solicitado mediante el formulario de que se trate. League of summoners se compromete al cumplimiento de su
    obligación de secreto de los datos de carácter personal y de su deber de tratarlos con confidencialidad, y asume, a
    estos efectos, las medidas de índole técnica, organizativa y de seguridad necesarias para evitar su alteración,
    pérdida, tratamiento o acceso no autorizado, de acuerdo con lo establecido en la Ley Orgánica 15/1999 sobre
    Protección de Datos de Carácter Personal, y demás legislación aplicable. El titular de los datos personales deberá
    dirigirse por escrito a <a href="#">administrator@leagueofsummoners.com</a> o al domicilio social de
    League of summoners anteriormente indicado, para el ejercicio de los derechos de acceso, rectificación, cancelación
    y oposición relativo al tratamiento responsabilidad de League of summoners, indicando en el asunto ‘LOPD’ y
    acreditando su identidad.
    <h3>5. Seguridad</h3>
    <p>Garantizamos que cualquier transmisión que se produzca de sus datos personales se hará mediante una tecnología
        que cumple los máximos estándares de seguridad. La comunicación entre su máquina y nuestros servidores se
        establece de manera encriptada. El tratamiento de los datos lo realizará solamente personal autorizado y
        responsable de League of summoners.</p>
</main>


<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>