<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:replace="fragments/head :: head(title='Perfil ~ LOS')">
</head>
<body id="bootstrap-overrides" onload="getMatchList(false)">
	<div th:replace="fragments/menu :: menu"></div>
	<div class="container content">
		<div class="row" id="banner">
			<div id="page-name-banner" class="col-xs-12">
				<h1 class="banner-msg" th:utext="#{profile.profilename}"></h1>
			</div>
			<ol class="breadcrumb col-xs-12">
				<li><a href="/index">Home</a></li>
				<li class="active" th:utext="${pageName}"></li>
			</ol>
		</div>
	</div>

	<main class="container content profile-body">
	<div class="row">
		<aside id="user-profile" class="col-md-2">
			<div id="profile">
				<div class="img-perfil col-xs-6 col-md-12">
					<img class="img-responsive" width="120px" height="120px"
						th:attr="src=@{${session.userlogged.avatar}}"
						onerror="this.src='/img/notfoundimg.png'" />
					<div class="summoner-profile">
						<strong><p th:utext="${session.userlogged.username}"></p></strong>
					</div>
				</div>
				<div class="img-perfil col-xs-6 col-md-12">
					<img th:attr="src=@{${summoner_avatar}}" width="120px"
						height="120px" onerror="this.src='/img/notfoundimg.png'" />
					<div class="summoner-profile">
						<strong><p th:utext="${session.userlogged.summonerName}"></p></strong>
					</div>
				</div>

			</div>
		</aside>
		<div id="profile-body" class="col-xs-10">
			<div id="profile-header">
				<h3 th:utext="#{profile.youraccount}"></h3>
			</div>
			<div id="profile-main">
				<table class="table table-responsive">
					<tr>
						<th th:utext="#{profile.summonername}"></th>
						<th th:utext="#{profile.summoner.level}"></th>
						<th>Division</th>
						<th th:utext="#{profile.team}"></th>
						<th class="hidden-xs" th:utext="#{profile.permission.level}">User
							level</th>
					</tr>
					<tr>
						<td th:utext="${session.userlogged.summonerName}"></td>
						<td th:utext="${summ_level}"></td>
						<td><i th:class="'icon champion-ranks ' + ${summ_tier}"></i>&nbsp;<th:block
								th:utext="${summ_tier}"></th:block></td>
						<td th:utext="${team}"></td>
						<td class="hidden-xs"
							th:utext="${session.userlogged.permissionLevel}"></td>
					</tr>
				</table>
			</div>
			<div id="guides-profile">
				<h3 th:utext="#{profile.createdguides}"></h3>

				<div th:if="${#lists.isEmpty(user_guides)}">
					<p>
						Desafortunadamente no tienes guias creadas, pulsa <a href="#">aquí</a>
						para crear tu guia.
					</p>
				</div>

				<div class="alert alert-danger fade in" style="display: none;"
					id="mensajeError">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>La guía seleccionada no se ha podido eliminar</strong>
				</div>

				<div class="alert alert-info fade in" style="display: none;"
					id="mensajeInfo">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>La guía seleccionada se ha eliminado
						correctamente.</strong>
				</div>

				<div th:if="${not #lists.isEmpty(user_guides)}">
					<table class="table" style="">
						<tr>
							<th>Tipo</th>
							<th>Campeón</th>
							<th>Título de la guía</th>
							<th class="hidden-xs">Editar</th>
							<th>Eliminar</th>
							<th>Visitas</th>
						</tr>
						<tr th:each="guide : ${user_guides}">
							<td th:utext="${guide.champion.championType}"></td>
							<td><a
								th:attr="href='/champions#' + ${guide.champion.championNormalized}"><i
									th:attrappend="class=${' ' + guide.champion.championLinkNormalized}"
									class="icon champions-lol-28"></i>&nbsp;<th:block
										th:utext="${guide.champion.championName}"></th:block></a></td>
							<td><a th:utext="${guide.guideTitle}"
								th:href="@{view_guide?idGuide={id}(id=${guide.idGuide})}"> </a></td>
							<td class="hidden-xs"><a
								th:href="@{guides/editar/{id}(id=${guide.idGuide})}">Editar</a></td>
							<td><a class="deleteGuide"
								th:href="@{api/guides/borrar/{id}(id=${guide.idGuide})}">Eliminar</a></td>
							<td th:utext="${guide.visitas}"></td>
						</tr>
					</table>
				</div>
			</div>


			<div id="guides-last10match">
				<h3>
					<th:block th:text="#{profile.last10matches}"></th:block>
				</h3>
				<i class="fa fa-refresh fa-1 hidden-xs" id="refresh-icon"
					aria-hidden="true" onclick="getMatchList(true)"></i>
				<div id="no-rankeds" class="red" hidden>
					<h4>Oops! Parece que aun no has jugando ninguna ranked</h4>
				</div>
				<table class="table table-responsive" id="table-matches">
					<thead>
						<tr>
							<th>Resultado</th>
							<th>Duración</th>
							<th>Campeón</th>
							<th class="hidden-xs">Items</th>
							<th>Oro</th>
							<th class="hidden-xs">Puntuación</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<div class="text-center" id="ajax-loader">
					<img src="/img/ajax-loader.gif" alt="loader">
				</div>
			</div>
		</div>
	</div>
	</main>

	<div th:replace="fragments/footer :: footer"></div>
	<div th:replace="fragments/scripts :: scripts"></div>
	<script type="text/javascript" src="js/profile.js"></script>
</body>
</html>